* {
    /* Ensure that consistentsy of the layout is maintained in all browsers */
    margin: 0;
    padding: 0;
    /* "Playfair Display" is the default (imported) font for the entire website */
    font-family: "Playfair Display", serif;
    /* Default font size for the entire website */
    font-size: 16px;
  }


/* The code below is for main element*/
main {
    background-color: #e2e0d1;
  }
  
  .suites-content {
    /* Center the content */
    padding: 50px 0;
  }
  
  .image-container {
    position: relative; /* This container become the reference point for the child container */
    width: 100%; /* Ensure the container takes full width */
    height: auto; /* Height will adjust based on the image aspect ratio */
    /* Hide the overflows of the images*/
    overflow: hidden;
  }
  
  .wrapper {
    width: 100%;
    /* Images will be place horizontally */
    display: flex;
    /* Move the images to the left */
    animation: slide 16s infinite;
  }
  
  /* Defines the keyframes for the slide animation */
  @keyframes slide {
    0% {
      /* Start from the left at the original position*/
      /* The translateX() will move the image horizontally on the x-axis */
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(0);
    }
  
    30% {
      /* Move the images to the left */
      transform: translateX(-100%);
    }
  
    55% {
      transform: translateX(-100%);
    }
  
    60% {
      transform: translateX(-200%);
    }
  
    85% {
      transform: translateX(-200%);
    }
  
    90% {
      transform: translateX(-300%);
    }
  
    100% {
      transform: translateX(-300%);
    }
  }
  
  .image-container img {
    width: 100%; /* Image takes full width of the container */
    height: auto; /* Height adjusts based on the image aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire area */
  }
