/* ------------------------- MAIN SECTION ----------------------------- */

/* The code below is for main element*/
main {
  background-color: #e2e0d1;
  min-width: 300px;
}

.suites-content, .option-content {
  /* Center the content */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.image-container {
  /* Image container takes 50% of the width */
  width: 35%;
  min-width: 300px;
  /* Hide the overflows of the images*/
  overflow: hidden;
}

.wrapper {
  width: 100%;
  /* Images will be place horizontally */
  display: flex;
  /* Move the images to the left */
  animation: slide 16s infinite;
}

/* Defines the keyframes for the slide animation */
@keyframes slide {
  0% {
    /* Start from the left at the original position*/
    /* The translateX() will move the image horizontally on the x-axis */
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    /* Move the images to the left */
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(-200%);
  }

  85% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.image-container img {
  width: 100%; /* Image takes full width of the container */
}

.suites-text, .option-text {
  width: 40%;
  padding-left: 100px; /*to add some space between the image and the text */
}

.suites-text h2, .option-text h2 {
  font-size: 3vw;
  font-weight: bold;
}

.suites-text h4 {
  font-size: 1.3vw;
  font-weight: bold;
  padding-bottom: 20px;
  font-style: italic;
}

.suites-text p, .option-text p {
  font-size: 1.5vw;
  padding-bottom: 30px;
  width: 90%;
}

.suites-text a,
.events-text a,
.option-text a {
  /* View button */
  color: #3d4a48;
  border-bottom: 1px solid #0c1f1e33;
  padding-top: 30px;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: 1.2vw;
  transition: all 0.3s linear;
  /* Make the button inline  so transform scale can work*/
  display: inline-block;
}

.suites-text a:hover,
.events-text a:hover,
.option-text a:hover {
  color: black;
  border-bottom: 1px solid #3d4a48;
  transform: scale(1.1);
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  .suites-content, .option-content {
    /* Stack the image and text vertically */
    flex-direction: column;
  }

  .image-container {
    width: 70%; /* Increase width of the image container */
    max-height: 400px;
    margin: 0; /* Remove left margin */
  }

  .suites-text, .option-text {
    display: flex;
    flex-direction: column; /* Stack text on vertically */
    align-items: center; /* Center text horizontally */
    text-align: center; /* Center text horizontally */
    width: 100%;
    padding-top: 25px;
    padding-left: 0; /* Remove left padding */
  }

  .suites-text h2, .option-text h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .suites-text h4, .option-text h4 {
    font-size: 0.8rem;
  }

  .suites-text p, .option-text p {
    width: 70%;
    font-size: 0.95rem;
    padding-bottom: 10px;
  }

  .suites-text a, .option-text a {
    font-size: 0.8rem;
  }
}
