/* ------------------------- CONTAINER WITH OVERLAY ----------------------------- */

.video-container,
.our-history .img-container {
  position: relative; /* This container become the reference point for the child container */
  min-width: 300px;
  min-height: 400px;
}

.video-container::after,
.our-history .img-container::after {
  content: ""; /* This will create a pseudo-element */
  position: absolute; /* the reference point is the parent container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 500px; /* Make sure it doesn't go below this height*/
  /* adjust the last value to change the opacity */
  background: rgba(0, 0, 0, 0.6);
}

video,
.our-history img {
  /* Set the size of the video */
  width: 100%;
  height: 100vh; /* vh stands for viewport height */
  min-height: 500px;
  object-fit: cover; /* This will cover the whole area without distorting the aspect ratio */
  display: block; /* This will remove the default space below the video */
}

.overlay-text {
  position: absolute;
  /* used to center the text both vertically and horizontally */
  /* top and left will place the text 40% from the top and 50% from the left */
  top: 40%;
  left: 50%;
  /* This will center the text by moving left by 50% of its own width and up by 50% of its own height */
  transform: translate(-50%, -50%);
  color: #e2e0d1;
  z-index: 1; /* make sure the text is on top of the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%; /*Width of the text container */
}

.overlay-text h1 {
  /* 3.5 times the font size of the parent */
  font-size: 3.5rem;
  padding-bottom: 10px;
}

.overlay-text h2 {
  font-size: 1.1rem;
  padding-bottom: 25px;
  color: #e2e0d1;
}

.overlay-text p {
  font-size: 1.3rem;
  width: 60%;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .overlay-text h1 {
    font-size: 2.7rem;
    padding-top: 50px;
    padding-bottom: 5px;
  }

  .overlay-text h2 {
    font-size: 0.8rem;
    padding-bottom: 20px;
  }

  .overlay-text p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .overlay-text h1 {
    font-size: 2rem;
  }

  .overlay-text p {
    font-size: 0.85rem;
  }
}

/* ------------------------- MAIN SECTION ----------------------------- */

/* The code below is for main element*/
main {
  background-color: #e2e0d1;
  min-width: 300px;
}

.suites-content {
  /* Center the content */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.image-container {
  /* Image container takes 50% of the width */
  width: 35%;
  min-width: 300px;
  /* Hide the overflows of the images*/
  overflow: hidden;
}

.wrapper {
  width: 100%;
  /* Images will be place horizontally */
  display: flex;
  /* Move the images to the left */
  animation: slide 16s infinite;
}

/* Defines the keyframes for the slide animation */
@keyframes slide {
  0% {
    /* Start from the left at the original position*/
    /* The translateX() will move the image horizontally on the x-axis */
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    /* Move the images to the left */
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(-200%);
  }

  85% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.image-container img {
  width: 100%; /* Image takes full width of the container */
}

.suites-text {
  width: 40%;
  padding-left: 100px; /*to add some space between the image and the text */
}

.suites-text h2 {
  font-size: 3vw;
  font-weight: bold;
}

.suites-text h4 {
  font-size: 1.3vw;
  font-weight: bold;
  padding-bottom: 20px;
  font-style: italic;
}

.suites-text p {
  font-size: 1.5vw;
  padding-bottom: 30px;
  width: 90%;
}

.suites-text a,
.events-text a,
.option-text a {
  /* View button */
  color: #3d4a48;
  border-bottom: 1px solid #0c1f1e33;
  padding-top: 30px;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: 1.2vw;
  transition: all 0.3s linear;
  /* Make the button inline  so transform scale can work*/
  display: inline-block;
}

.suites-text a:hover,
.events-text a:hover,
.option-text a:hover {
  color: black;
  border-bottom: 1px solid #3d4a48;
  transform: scale(1.1);
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  .suites-content {
    /* Stack the image and text vertically */
    flex-direction: column;
  }

  .image-container {
    width: 70%; /* Increase width of the image container */
    max-height: 400px;
    margin: 0; /* Remove left margin */
  }

  .suites-text {
    display: flex;
    flex-direction: column; /* Stack text on vertically */
    align-items: center; /* Center text horizontally */
    text-align: center; /* Center text horizontally */
    width: 100%;
    padding-top: 25px;
    padding-left: 0; /* Remove left padding */
  }

  .suites-text h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .suites-text h4 {
    font-size: 0.8rem;
  }

  .suites-text p{
    width: 70%;
    font-size: 0.95rem;
    padding-bottom: 10px;
  }

  .suites-text a{
    font-size: 0.8rem;
  }
}

/* The code below is for the about us section element */

.our-history #history-img-container::after {
  height: 90vh;
}

.our-history img {
  height: 90vh;
}

.our-history #history-text p {
  width: 70%;
  min-width: 300px;
}

.our-history #history-text {
  padding-top: 100px;
}

.readmore-button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: large;
  padding: 8px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
  margin-top: 50px;
}

.readmore-button:hover {
  color: rgb(139, 139, 139);
  background-color: rgb(236, 230, 223);
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  .our-history #history-text h1 {
    font-size: 2rem;
  }

  .our-history #history-text h2 {
    font-size: 1rem;
  }
}

/* Events Section */

.events {
  min-height: 300px;
}

/* The code below is for the expereince section element */

.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  text-align: center;
}

.experience h1{
  text-align: left;
  font-size: 5vh;
  font-weight: bold;
  padding-top: 20px;
}

.experience p{
  padding-top: 20px;
  width: 60%;
}

.experience .option p{
  width: 100%;
  padding: 10px 0px;
}

.experience .option h3{
  font-size: 3vh; /* adjust accordingly to the parent element font-size */
  font-weight: bold;
  padding-top: 10px;
}

.experience-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.option {
  width: 25%;
  min-width: 300px;
  padding: 0;
  margin: 40px;
}

.experience-img {
  width: 100%;
  height: 55%;
}

.experience .option-text a{
  font-size: 1.1vw;
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  .experience p {
    width: 80%;
    min-width: 300px;
    padding: 0px;
  }

  .option {
    width: 100%;
    min-height: 550px;
    margin: 0px;
    margin-top: 20px ;
  }

  .experience-img {
    width: 70%;
    min-width: 300px;
  }

  .experience h1{
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
  }

  .experience p{
    font-size: 0.9em;
  }

  .experience .option-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
  }

  .experience .option-text h3{
    font-size: 2em;
  }

  .experience .option-text p{
    font-size: 0.9em;
    width: 90%;
  }

  .experience .option-text a{
    font-size: 0.8em; 
  }
}


/* Smooth Flow */
.suites,
.our-history,
.experience {
  /* fadein is the name of the animation and linear is the timing fucntion, so constant speed*/
  animation: fadein linear;
  /* view() is the name of the timeline where it is the animation is tied to the view or scoll position */
  animation-timeline: view();
  /* cover is the starting point of the animation, animation should start as soon as the element is fully in view */
  animation-range-start: cover;
  /* the end point of the animation, animation should end when the element is 500px out of view */
  animation-range-end: 450px;
}

@keyframes fadein {
  from {
    scale: 0.7;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
