body {
    background-color: #E2E0D1;
}

#background {
    background-image: url(images/contactformhotelpicture.jpg);
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative; /* Used for ::afer */
    height: 250px; /* Height of the background image */
    width: 100%;
    min-width: 300px;
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

#header-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30%; 
    z-index: 1;
}

#header-text h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-size: 4em;
    padding-bottom: 40px; /* Space between header text and below */
}

#contact-form {
    background-color: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add shadow to the form */
    min-width: 200px;
}

#contact-form h2 {
    text-align: center;
    color: #444;
    font-weight: 600;
}

#contact-form p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    color: black;
    width: 97%;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: #ededed;
    box-sizing:content-box
}

.form-group textarea {
    resize: none; /* Disable resizing of textarea */
}

.form-group input:focus,
.form-group textarea:focus {
    /* Add a border around the input field when it is focused (User click on it)*/
    outline: none;
    border-color: #bbb;
    background-color: #fff;
}

.form-group input:focus:valid {
    /* Add a tick icon when the input field is focused and valid (Correct format)*/
    background: rgba(255, 255,255,0.6) url(images/tick-icon.png) no-repeat;
    background-position:right 1% bottom 50%; 
    background-size:1.5em 1.5em;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.form-group input::placeholder {
    /* Change the color of the placeholder text */
    font-style: italic;
    color:rgba(154, 154, 154, 0.7);
}

@media screen and (max-width: 768px) {
    #header-text h1 {
        font-size: 3em;
    }
    #contact-form {
        padding: 20px;
    }
    #contact-form h2 {
        font-size: 1.5em;
    }
    .form-group input,
    .form-group textarea {
        padding: 8px;
    }
    button {
        padding: 8px;
    }
    
}

